extends layout

block content
  main.bg-light.text-dark(style='min-height: 100vh').d-flex.flex-column.justify-content-center.align-items-center
    .container
      .row
        .col-12.p-2
          .h-100.py-md-5.py-3.text-center
            h1.text-capitalize= 'something went wrong'